<table>
  <tr>
    <th>Valeur</th>
    <th>Date de création</th>
    <th>Gérer</th>
  </tr>
  <tr *ngFor="let report of reports">
    <td>{{report.valeur}}</td>
    <td>{{report.creationDate * 1000 | date:'dd/MM/yyyy'}}</td>
    <td class="gerer">
      <div class="update-icon" (click)="handlUpdate(report)"></div>
        <div class="popup-wrapper" *ngIf="showDeletePopup">
          <div class="popup">
            <div class="popup-close" (click)="toggleDeletePopup()">x</div>
            <div class="popup-content">
              <div>
                <p>Confirm Deletion</p>
                <button (click)="handleDeleteConfirm(report)">Confirm</button>
                <button (click)="handleDeleteCancel()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      <div class="delete-icon" (click)="handleDelete(report)"></div>
      <div class="popup-wrapper" *ngIf="showUpdateFormPopup">
        <div class="popup">
          <div class="popup-close" (click)="toggleUpdateIcon()">x</div>
          <div class="popup-content">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
              <div class="form-valeur">
                <label for="valeur" class="form-label">Valeur: </label>
                <input type="text" name="valeur" id="valeur" formControlName="valeur">
              </div>

              <button class="form-add" [disabled]="!form.valid">Update</button>
            </form>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>



