table {
  border-collapse: collapse;
  width: 100%;
  font-size: 2.6rem;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: .5rem;
}

.gerer {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.update-icon {
  background-image: url("../../../assets/icons/update.svg");
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
}

.update-icon:hover {
  cursor: pointer;
}

.delete-icon {
  background-image: url("../../../assets/icons/delete.svg");
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
}

.delete-icon:hover {
  cursor: pointer;
}



