<div class="displayTable-g">
  <div class="displayTableCell-g">

    <div class="authBlock-g">
      <h3>S'inscrire</h3>

      <div class="formGroup-g">
        <input type="email" class="formControl-g" placeholder="Email" #userEmail required>
      </div>

      <div class="formGroup-g">
        <input type="password" class="formControl-g" placeholder="Mot De Passe" #userPwd required>
      </div>

      <div class="formGroup-g">
        <input type="button" class="btn-g" value="S'inscrire" (click)="authService.SignUp(userEmail.value, userPwd.value)">
      </div>

      <div class="formGroup-g">
        <span class="or"><span class="orInner-g">Ou</span></span>
      </div>

    <div class="redirectToLogin-g">
      <span>Vous avez déjà un compte? <span class="redirect-g" routerLink="/sign-in">S'identifier</span></span>
    </div>
  </div>
  </div>
</div>
