.generate-disabled {
  flex: 1 1 20rem;
  text-align: end;
  border-style: none;
  color: white;
  background-color: lightgray;
  border-radius: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  transition: background 0.2s ease-in;
}

.generate-enabled {
  flex: 1 1 20rem;
  text-align: end;
  border-style: none;
  color: white;
  background-color: #4E55F9;
  border-radius: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  transition: background 0.2s ease-in;
  cursor: pointer;
}




